<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Support Dantarion!</h4>
      </div>
      <div class="modal-body" style="min-height:250px;">
        <p><img style="width:200px; margin-right:10px;" src="{{ site.baseurl }}/img/dantarion.jpg" alt="..." class="img-circle pull-left">
		Hi! I'm dantarion, the guy who made this resource you're looking at. I spent countless hours making this thing, and would appreciate it if you followed me on <a href="http://twitter.com/dantarion">Twitter</a>, or/and on <a href="http://twitch.tv/dantarion">Twitch</a>. Thanks in advance!</p>
		<p><a class="twitter-follow-button"  href="https://twitter.com/dantarion"  data-show-count="true" data-width="250px" data-size="large" data-show-screen-name="true">Follow @dantarion</a></p>
		<script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.baseurl }}">P4A Data Dumps by @dantarion</a>
		</div>
	</div>
</nav>


